html, body {
    height: 100%;
}

.content {
    height: 100vh;
}

.logoBox {
    width: 100%;
    padding: 5%;
}

.logo {
    width: 100%;
}

ul, menu, dir {
    -webkit-padding-start: 0px;
}

.list-group-flush {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 5%;
}

a {
    color: rgb(0,0,0);
}

a:hover {
    color: rgb(0,0,0);
    text-decoration: none;
}

.list-group-item {
    padding: .75rem 0 .75rem 0;
    background: none;
}

.menuItem {
    transition-duration: 150ms;
}

.menuItem:hover {
    transform: scale(1.01);
    transition-duration: 150ms;
}

.list-group-item:first-child {
    border-top: none;
}

.arrow {
    height: 20px;
    float: right;
    opacity: .65;
}