html, body {
    height: 100%;
}

.content {
    height: 100vh;
}

.logoBox {
    /* padding: 4%; */
    width: 100%;
    /* margin-top: 15%;
    margin-bottom: 15%; */

    padding: 4%;
}

.logo {
    width: 100%;
}

ul, menu, dir {
    -webkit-padding-start: 0px;
}

.list-group-flush {
    /* padding-top: 50px;
    margin-top: 15%; */

    padding: 4%;
}

.list-group-item {
    padding: .75rem 0 .75rem 0;
}

.menuItem {
    transition-duration: 150ms;
}

.menuItem:hover {
    transform: scale(1.01);
    transition-duration: 150ms;
}

.list-group-item:first-child {
    border-top: none;
}

.arrow {
    height: 20px;
    float: right;
    opacity: .65;
}